<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edit GOR</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
    <form th:action="@{'/gor/update/' + ${gor.id}}" th:object="${gor}" method="post" enctype="multipart/form-data" class="form-container">
        <h2>Edit GOR</h2>
        <input type="hidden" th:field="*{id}" />
        <div class="form-group">
            <label for="nama">Nama:</label>
            <input type="text" th:field="*{nama}" id="nama" required class="form-input" />
        </div>
        <div class="form-group">
            <label for="alamat">Alamat:</label>
            <input type="text" th:field="*{alamat}" id="alamat" required class="form-input" />
        </div>
        <div class="form-group">
            <label for="imgFile">Gambar:</label>
            <input type="file" name="imgFile" id="imgFile" accept=".png,.jpg,.jpeg" class="form-input" />
        </div>
        <div class="form-group gor-img" th:if="*{img}">
            <img th:src="@{'/gor/img/' + ${gor.id}}" alt="GOR Image" width="100" class="img"/>
        </div>
        <div class="form-actions">
            <button type="submit" class="button">Update</button>
            <a th:href="@{/gor/list}" class="button-back">Back to List</a>
        </div>
    </form>
</body>

</html>