<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edit GOR</title>
</head>

<body>
    <h2>Edit GOR</h2>
    <form th:action="@{'/gor/update/' + ${gor.id}}" th:object="${gor}" method="post">
        <label>Nama:</label>
        <input type="text" th:field="*{nama}" required /><br />
        <label>Alamat:</label>
        <input type="text" th:field="*{alamat}" required /><br />
        <label>Img:</label>
        <input type="file" name="imgFile" accept=".png,.jpg,.jpeg" required /><br />
        <div th:if="*{img}">
            <img th:src="*{img}" alt="GOR Image" style="max-width:200px;max-height:200px;"/><br />
        </div>
        <button type="submit">Update</button>
    </form>
    <a th:href="@{/gor/list}">Back to List</a>
</body>

</html>