<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <nav class="navbar" th:fragment="main-navbar">
        <a class="nav-link" th:href="@{/}">Home</a>
        <a class="nav-link" th:href="@{/booking/list}">Booking</a>
        <a class="nav-link" th:href="@{/gor/list}">GOR</a>
        <a class="nav-link" th:href="@{/lapangan/list}">Lapangan</a>
        <a class="nav-link" th:href="@{/promo/list}">Promo</a>
        <a class="nav-link" th:href="@{/logout}">Logout</a>
    </nav>
</body>
</html>