<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edit Lapangan</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
    <form th:action="@{'/lapangan/update/' + ${lapangan.id}}" th:object="${lapangan}" method="post" class="form-container">
        <h2>Edit Lapangan</h2>
        <input type="hidden" th:field="*{gor.id}" />
        <div class="form-group">
            <label for="jenis">Jenis:</label>
            <input type="text" th:field="*{jenis}" id="jenis" required class="form-input" />
        </div>
        <div class="form-group">
            <label for="tarif">Tarif:</label>
            <input type="number" th:field="*{tarif}" id="tarif" required class="form-input" />
        </div>
        <div class="form-group">
            <label for="status">Status:</label>
            <input type="text" th:field="*{status}" id="status" class="form-input" />
        </div>
        <div class="form-group">
            <label for="deskripsi">Deskripsi:</label>
            <input type="text" th:field="*{deskripsi}" id="deskripsi" class="form-input" />
        </div>
        <div class="form-actions">
            <button type="submit" class="button">Update</button>
            <a th:href="@{'/lapangan/list/gor/' + ${lapangan.gor.id}}" class="button-back">Kembali ke Daftar Lapangan</a>
        </div>
    </form>
</body>

</html>